*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    align-items: center;
    display: flex;
    height: 100%;
}

body {
    background: $color-gunmetal;
    margin: auto;
    max-width: 480px;
    padding: 20px;
    width: 100%;
}

input[type='range'] {
    margin: 20px 0;
}
