// Range inputs
// Specificity is for bootstrap compatibility
input[type='range'] {
    // WebKit
    -webkit-appearance: none; // stylelint-disable-line
    background: transparent;
    border: 0;

    // Used in JS to populate lower fill for WebKit
    color: $range-fill-bg;
    display: block;
    height: $range-max-height;
    margin: 0;
    padding: 0;
    width: 100%;

    &::-webkit-slider-runnable-track {
        @include range-track();
        background-image: linear-gradient(to right, currentColor var(--value), transparent var(--value));
    }
    &::-webkit-slider-thumb {
        @include range-thumb();
        -webkit-appearance: none; // stylelint-disable-line
        margin-top: -(($range-thumb-height - $range-track-height) / 2);
    }

    // Mozilla
    &::-moz-range-track {
        @include range-track();
    }
    &::-moz-range-thumb {
        @include range-thumb();
    }
    &::-moz-range-progress {
        background: currentColor;
        border-radius: ($range-track-height / 2);
        height: $range-track-height;
    }

    // Microsoft
    &::-ms-track {
        background: transparent;
        border: 0;
        color: transparent;
        height: $range-track-height;
    }
    &::-ms-fill-upper,
    &::-ms-fill-lower {
        @include range-track();
    }
    &::-ms-thumb {
        @include range-thumb();
        // For some reason, Edge uses the -webkit margin above
        margin-top: 0;
    }
    &::-ms-tooltip {
        display: none;
    }
    &::-ms-fill-lower {
        background: currentColor;
    }

    // Focus styles
    &:focus {
        outline: 0;
    }
    &::-moz-focus-outer {
        border: 0;
    }
    &.tab-focus {
        outline-offset: 3px;
    }

    // Pressed styles
    &:active {
        &::-webkit-slider-thumb {
            @include range-thumb-active();
        }
        &::-moz-range-thumb {
            @include range-thumb-active();
        }
        &::-ms-thumb {
            @include range-thumb-active();
        }
    }
}
